body {
    /* Adicione o seu GIF de fundo */
    background-image: url('giphy.gif');
    background-size: cover;
  }
  
  .clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz com que o relógio fique no centro da página */
  }
  
  .clock {
    font-size: 48px;
    color: white; /* Cor do texto */
    text-align: center;
    padding: 50px;
    margin: 20px;
    border: 5px solid white; /* Borda branca */
    border-radius: 50%; /* Faz o DIV ser redondo */
    background-color: rgba(0,0,0,0.4); /* Fundo semi-transparente */
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
